*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.margin-padding{
    color: white;
    background-color: teal;
    width: 500px;
    height: 300px;
    margin: 15px;
    font-size: 50px;
    padding: 120px 60px;
}


